:root{
    --color1: #49D8BE;
    --color2: #E19DCD;
    --color3: #ffffff;
    --color4: #F7890F;
    --backdrop-filter-blur: blur(10px);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

::before,
::after{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--color1), var(--color2));
    color: var(--color3);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px;
}

body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color4);
    z-index: 1;
    opacity: 0.15;
}